<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_dkv"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_dkv"
        android:supportsRtl="true"
        android:theme="@style/Theme.DKVTracking"
        tools:targetApi="31">
        <activity
            android:name=".CurriculumVitaeActivity"
            android:exported="false" />
        <activity
            android:name=".RiwayatKonselingActivity"
            android:exported="false" />
        <activity
            android:name=".RiwayatPrakerinActivity"
            android:exported="false" />
        <activity
            android:name=".RiwayatPortofolioActivity"
            android:exported="false" />
        <activity
            android:name=".PortofolioTambahActivity"
            android:exported="false" />
        <activity
            android:name=".PortofolioDataActivity"
            android:exported="false" />
        <activity
            android:name=".NilaiAkhirActivity"
            android:exported="false" />
        <activity
            android:name=".RiwayatDataActivity"
            android:exported="false" />
        <activity
            android:name=".KesehatanUbahActivity"
            android:exported="false" />
        <activity
            android:name=".KesehatanTambahActivity"
            android:exported="true" />
        <activity
            android:name=".KesehatanDataActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>